@media screen and (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
    }


   h1 {
       margin-top: 100px;
   }

   #top {
       
    margin-bottom: 100px;

   }
   
  #logo {
      width: 50vw;
      margin-left: -50%;
  }

  
}


html {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    letter-spacing: 4px;
    box-sizing: inherit;
    background-image: linear-gradient(to bottom right,rgb(38, 81, 160), black, rgb(41, 145, 230));;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.tilt {
	transform-style: preserve-3d;
	margin: 50px auto;
}

.tilt-movie, .tilt-movie img {
	width: 25vw;
    margin: auto;
    border-radius: 500px;
}

h1 {
    padding: 40px;
}
