* {
    padding:0;
    margin:0;
}


@media only screen and (max-width: 900px) {
    .container {
      margin: 20px 0px 20px 30px;
    }

    .move {
        margin-top: -160px;
        text-align: left;
    }

    #title  {
        display: none;
    }

    .logo {
        display: none;
    }

    .top {
        display: none;
    }

    header {
        font-size: 5%;
    }

    article {
        display: flex;
    }

    #us {
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    .navbar {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-align: right;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      span {
         position: fixed;
         right: 0;
         margin: -110px 50px 50px 50px;
      }

      #margin {
          display: none;
      }

      .container {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }  
  }



html {
    background-image: linear-gradient(to bottom right,rgb(38, 81, 160), black, rgb(41, 145, 230));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

body {
    color: white;
    font-family: 'Roboto Slab', serif;
}

.navbar {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.navbar:hover {
    text-decoration: underline;
}

article {
    float: none;
    text-align: start;
    font-size: 25px;
    margin-top: 100px ;
    width: 80vw;
    padding: 10px;
}

#us {
    width: 100%;
    border-radius: 10px 10px 0 0;
   
}

h1 {
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    margin: auto;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

#boys {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

a {
    text-decoration: none;
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px;
}

ul {
    display: flex;
    margin-top: -10px;
}



@media screen and (min-width: 900px) {
.clear  {
    display: none;
    } 
}

.card {
    box-shadow: 0 4px 8px 0 white;
    transition: 0.3s;
    width: 50vw;
    border-radius: 10px;
}

.pad {
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    padding: 20px;
    letter-spacing: .3cm;
    font-size: 70px;
}

footer  {
  background: black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#margin {
    position: fixed;
    margin-top: -50px;
    background-color: rgb(10, 11, 12);
    padding: 5px 70px 5px 70px;
    border-radius: 5px;
}

.logoname {
   display: inline-block; 
   display: flex;
   margin: auto;
   justify-content: center;
   width: 750px;
}

#smallname {
    padding: 90px 100px 40px 30px;
    margin-left: 10px;
}

@media screen and (max-width: 450px) {
    span {
        margin: -100px 20px 50px 50px; 
    }
}

#all {
    background-image: url('./images/mountainbg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

